<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
        <thead>
          <tr>
            <th>From</th>
            <th>Data Length</th>
            <th>Execute Time</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach(function(row, index) { %>
            <tr>
              <td><%= row.test %></td>
              <td><%= row.dataLength %></td>
              <td><%= row.executeTime %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>


      <button id="clear">clear</button>
      <button id="oracle">oracle</button>
      <button id="redis">redis</button>
  </body>
  <script>
    $('#clear').on('click', function() {
      $.ajax({url: '/clear'});
    })
    $('#oracle').on('click', function() {
      $.getJSON('/oracle', function(data) {
        console.log('data', data);
      });
    })
    $('#redis').on('click', function() {
      $.getJSON('/redis', function(data) {
        console.log('data', data);
      });
    })
  </script>
</html>
